name: Java CI with Maven

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.sha }}"
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  find_jobs:
    runs-on: ubuntu-24.04
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: temurin
          cache: maven
      - id: set-matrix
        run: |
          TASKS=$(./mvnw help:evaluate -Dexpression=project.modules -q -DforceStdout | sed -n 's|.*<string>\(.*\)</string>.*|"\1"|p' | paste -sd "," - | sed 's/^/[/' | sed 's/$/]/')
          echo $TASKS
          echo "matrix={\"modules\":$TASKS}" >> $GITHUB_OUTPUT
  
  build:
    name: "${{ matrix.modules }}"
    needs: [find_jobs]
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.find_jobs.outputs.matrix) }}
    steps:
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
        with:
          large-packages: false
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: temurin
          cache: maven
          cache-dependency-path: ${{ matrix.modules }}/pom.xml
      - name: Build with Maven (${{ matrix.modules }})
        run: ./mvnw -V -B verify -pl ${{ matrix.modules }}
